<div class="container">
    <div class="item flex-50 is-hidden-mobile is-hidden-tablet has-background-image" style="background-image: url('{{ post.image }}');">
    </div>
    <div class="item flex-50">
        <section id="{{ post.id | remove: '/' }}-preview" class="is-alternating-section">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="is-subheading">{{ post.date | date: '%B %d, %Y' }}</p>
            <hr>
            <article>
                <p>{{ post.content | strip_html | truncatewords: 25 }} <a href="{{ post.url }}" class="is-round-icon is-middle-aligned fa fa-sm fa-chevron-right"></a></p>
            </article>
        </section>
    </div>
</div>