---
layout: default
---

<section id="post-content" class="is-fill">
    <div class="container">
        <div class="item flex-100">
            <p class="is-subheading">{{ page.date | date: '%B %d, %Y' }}</p>
            <h2 class="is-post-title">{{ page.title }}</h2>
            <hr>
            <article>
                {{ page.content }}
                {% if page.comments != false %}
                    <p>{% include disqus.html %}</p>
                {% endif %}
            </article>
        </div>
    </div>
</section>