header {
    -ms-flex: 0;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    flex: 0;
    background-color: $teal;
    color: $white;
    .container {
        padding-top: 0;
        padding-bottom: 0;
        align-items: center;
        -webkit-align-items: center;
        .item {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Roboto', serif;
        letter-spacing: 1px;
        color: $white;
    }
    nav {
        width: 100%;
        text-align: right;
        display: none;
        &.open {
            display: inline-block;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    padding-right: 1em;
                    padding-left: 1em;
                    display: block;
                    text-decoration: none;
                    color: inherit;
                }
                &:hover {
                    -webkit-transition: all .25s linear;
                    transition: all .25s linear;
                }
            }
        }
    }
    .hamburger {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 1.1rem;
        flex: none;
        transform: rotate(0deg);
        transition: .5 ease-in-out;
        cursor: pointer;
        > span {
            width: 100%;
            height: 4px;
            display: block;
            position: absolute;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            background-color: $white;
        }
        span:nth-child(1) {
            top: 0px;
        }
        &.open span:nth-child(1) {
            top: 8px;
            transform: rotate(-135deg);
        }
        span:nth-child(2) {
            top: 8px;
        }
        &.open span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            top: 16px;
        }
        &.open span:nth-child(3) {
            top: 8px;
            transform: rotate(135deg);
        }
    }
}

@media screen and (max-width: $phone-max-width) {
    header {
        h1 {
            text-align: center;
        }
        .container {
            width: 100%;
        }
        nav {
            text-align: left;
            ul {
                li {
                    width: 100%;
                    a {
                        padding: 1.5em;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    header {
        nav {
            display: inline-block;
        }
        .hamburger {
            display: none !important;
        }
    }
}
@media screen and (min-width: $desktop-min-width) {
    header {
        nav {
            display: inline-block;
        }
        .hamburger {
            display: none !important;
        }
    }
}