$phone-max-width: 320px;
$tablet-min-width: 321px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;

$white: #FFFFFF;
$black: #000000;
$dark-gray: #565a5f;
$gray: #848484;
$light-gray: #E7E7E7;
$teal: #009688;
$dark-teal: #00695C;
$light-teal: #24B5A6;