$phone-max-width: 550px;
$tablet-min-width: 551px;
$tablet-max-width: 720px;
$desktop-min-width: 721px;

$white: #FFFFFF;
$black: #000000;
$gray: #848484;
$light-gray: #E7E7E7;
$teal: #009688;
$dark-teal: #00695C;
$light-teal: #24B5A6;